{% extends "base.html" %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>Add item</h2>
            <form action="{% url 'add_todo' %}" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="type here ...">
                <button type="submit" class="btn btn-success mb-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for todo_items in todo_items %}
                    <li class="list-group-item">{{ todo_items.text }}
                        <div class="float-right">
                            <form action="delete_todo/{{ todo_items.id }}" method="POST" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-small btn-danger">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
              </ul>
        </div>
    </div>
{% endblock content %}